{{partial:layouts/hero/hero}}

{{ if show_chat }}
{{ partial:layouts/cta/chat}}
{{ /if }}

<!--{{ svg src="quarter-jagged" id="hero-tri"-->
<!--class="absolute hidden lg:block -top-[3.5rem] left-[-7.5rem] transform-gpu  z-[1001]" }}-->
<img src="/assets/imgs/quarter-jagged.svg" class="absolute hidden lg:block -top-[3.5rem] left-[-7.5rem] transform-gpu  z-[1001]" alt="">


<!-- Mission -->
<div class="bg-dark text-white panel-size ">
    <div class="4xl:w-8/12 flex flex-col space-y-4">
        <div class="block-heading">{{mission_heading}}</div>
        <div class="block-subheading">{{mission_subheading}}</div>
        <div class="block-content">{{mission_text | nl2br}}</div>
    </div>
</div>


<!-- Tracking -->

<div class="bg-white text-dark panel-size flex flex-col space-y-4" id="trackMe">
    <div class="block-heading">{{track_heading}}</div>
    <div class="block-content ">{{track_content | nl2br}}</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 space-y-4 md:space-y-0 space-x-2 mx-auto xl:mx-0">
        {{ stats }}
        {{ partial:layouts/fieldsets/tracking_stats }}
        {{ /stats }}
    </div>
</div>


<!-- More -->

<div class="bg-dark-lime text-white pb-10 grid grid-cols-1 md:grid-cols-2">
    <div class="z-10 relative flex items-center">
        <img class="absolute top-10 left-14 " src="{{more_image}}" alt="">
        <div class="absolute md:rotate-[270deg]lg:block top-14 right-10  z-1"><img src="/assets/imgs/quarter.svg"
                                                                                   alt=""></div>
    </div>
    <div class="flex flex-col py-4 space-y-4 p-6 4xl:pl-12 4xl:pr-40  4xl:pt-14 4xl:pb-14">
        <div class="block-heading">{{more_heading}}</div>
        <div class="">{{more_content}}</div>
        <div class="z-10 pt-[2.5rem]">{{ partial:layouts/fieldsets/rounded_button}}</div>

    </div>
</div>


<!-- Partners -->
{{ partial:layouts/panels/partners bg="bg-white" tc="text-dark" }}

<script defer src="js/countUp.js"></script>
</div>
