<div x-cloak
    class="w-full md:w-1/4 bg-black z-99 top-navbar absolute right-0 flex justify-center rounded-bl-full"
    x-show="navOpen"
    @click.away="navOpen = false"
    x-transition:enter="transition ease-linear duration-200 transform"
    x-transition:enter-start="translate-x-12"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition ease-out duration-200 transform"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-12"
>
        <ul
            class="flex flex-col list-reset space-y-6 z-99 py-12"
        >
            {{ nav:main_nav }}
            <li class="mr-3 z-99">
                <a class="{{ if is_current }}text-lime{{ else }}text-white{{ /if }} text-lg uppercase hover:text-lime cursor-pointer" href="{{ url }}" @click="navOpen = false">{{ title }}</a>
            </li>
            {{ /nav:main_nav }}
        </ul>


</div>
