<div class="h-hero bg-indigo-400 w-full relative ">
    {{ hero_data.0 }}

    <img class="absolute w-full h-full object-cover object-center" src="{{hero_image}}" alt="">
    <div class="absolute top-1/2 pl-48 flex flex-col justify-center text-white ">
        <div class="z-10 text-5xl leading-tight">{{hero_title}}</div>
        <div class="z-10 text-xl pt-3">{{hero_content}}</div>
        <div class="z-10 pt-[2.5rem]">{{ partial:layouts/fieldsets/rounded_button}}</div>
    </div>
    {{ /hero_data.0 }}
</div>
