.nav-menu {
    z-index: 1000;
    position: absolute;
    top: 103px;
    right: -50%;
    height: 48rem;
    width: 48rem;
    overflow: hidden;
    transition: 2s;
    opacity: 0;
}


.open {
    opacity: 1;
    right: 0;
}
