/* This is all you. */

@font-face {
    font-family: "be-extra-bold";
    src: url("/fonts/BeVietnam-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "be-semi-bold";
    src: url("/fonts/BeVietnam-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "cir-bold";
    src: url("/fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: "cir-book";
    src: url("/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "cir-medium";
    src: url("/fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "gotham";
    src: url("/fonts/Gotham-Ultra.otf") format("opentype");
}

@font-face {
    font-family: "rota";
    src: url("/fonts/Rota-Bold.otf") format("opentype");
}


.block-heading, .footer-heading {
    @apply text-4xl font-cir-bold;
}

.block-heading:after, .stat-desc:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: theme('colors.lime');
    background: linear-gradient(270deg, theme('colors.lime'), theme('colors.dark-lime'), theme('colors.alt-lime'),  theme('colors.lime'));
    background-size: 200%;
    animation: move-background 3s linear infinite;
}

@keyframes move-background {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.block-subheading {
    @apply text-2xl font-be-semi-bold;
}

.block-content {
    @apply text-base font-be-semi-bold;
}

.block-content > ul {
    @apply list-disc list-inside;
}

.block-content > ul > br {
    display: none;
}

.nav-menu {
    z-index: 99;
    position: absolute;
    top: 103px;
    right: -50%;
    height: 48rem;
    width: 48rem;
    overflow: hidden;
    transition: 2s;
    opacity: 0;
}


.open {
    opacity: 1;
    right: 0;

}

#topCornerImage {
    animation: topCornerImage 2s 1s ease-in-out forwards;
    visibility: hidden;
}

@keyframes topCornerImage {
    0% {
        top: 8.5rem;
        left: 0rem;
        scale: 0;
    }
    10% {
        visibility: visible;
    }
    100% {
        top: 0rem;
        left: -8.5rem;
        scale: 1;
        visibility: visible;

    }

}


#bottomCornerImage {
    animation: bottomCornerImage 2s 1s ease-in-out forwards;
    visibility: hidden;

}

@keyframes bottomCornerImage {
    0% {
        top: 0rem;
    }
    100% {
        top: 23rem;
        visibility: visible;
    }
}

.panel-size {
    @apply px-6 py-10  lg:px-24 lg:py-12 xl:px-20 xl:py-20  2xl:px-48 2xl:py-24
}
