<footer class="bg-dark text-white  px-6 pt-12 pb-24 relative">
    <div class="grid grid-cols-1 md:grid-cols-3 space-y-4">
    {{ footer }}

    <!--    Address Column -->
    <div class="flex flex-col space-y-3">
        <div class="block-heading"> {{address_heading}}</div>
        <div class="block-content">{{company:company_address}}</div>
        <div class="flex flex-col xl:flex-row xl:space-x-2">
            <div class="block-content"><span class="text-lime">E: </span>{{company:company_email}}</div>
            <div class="block-content"><span class="text-lime">T: </span> {{company:company_telephone}}</div>
        </div>
    </div>
    <!--    Contact Column -->

    <div class="flex flex-col space-y-3">
        <div class="block-heading">{{contact_heading}}</div>
        <div class="block-content">{{partial:layouts/fieldsets/_text_link}}</div>
    </div>

    <!--    Socials Column -->

    <div class="flex space-x-2 md:justify-end">
        {{ social }}
        {{ social_media }}
        <a href="{{social_link}}"><img src="{{social_image}}" alt="{{social_alt}}"></a>
        {{ /social_media }}

        {{ /social }}
    </div>
    </div>

    <div class="absolute bottom-4 text-xs font-be-semi-bold">{{ copy_label }}</div>
    {{ /footer }}
</footer>
