{{ if show_chat }}
{{ partial:layouts/cta/chat}}
{{ /if }}

{{ if show_topleft }}
<img id="hero-tri" class="absolute -top-10 left-[-7.5rem]" src="/assets/imgs/quarter-jagged.svg" alt="">
{{ /if }}

<div class="bg-gradient-to-r from-dark-lime to-lime relative h-screen text-dark overflow-hidden">
    <div class="grid grid-cols-1 lg:grid-cols-2 pt-12">
        <div class="z-100 pt-4  sm:pt-16 px-16 sm:px-24 xl:px-16 2xl:pl-24">
            <div class="contact-heading tracking-wider z-100 ">{{contact_heading}}</div>
            <div class="block-content z-100 pt-24 pl-8 sm:pl-0 sm:pt-4">{{contact_content}}</div>
        </div>
            <img class="hidden lg:block absolute z-10 bottom-[-12rem] left-[11.5rem] lg:h-[67%] lg:bottom-[-1rem] lg:left-[5.5rem] " src="/assets/imgs/contact_black.svg" alt="">
            <img class="absolute z-10 top-[10rem] left-[-15rem] transform-gpu translate-y-[-9rem] translate-x-[9.8rem] md:translate-x-[5rem] lg:translate-y-[-10rem] lg:translate-x-0 lg:w-[90%] xl:w-[80%] 2xl:w-[60%]" src="/assets/imgs/contact_white.svg" alt="">
        <div class="p-24 px-6 sm:pt-48 md:pt-72 lg:pt-96 2xl:w-10/12">
            {{ form:contact }}


            {{ if success }}
            <div class="bg-green-300 text-white p-2">
                {{ success }}
            </div>
            {{ else }}

            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}
<div class="md:grid grid-cols-1 md:grid-cols-2 flex flex-col">
            {{ fields limit="4" }}
            <div class="flex flex-row items-center space-y-6">
                <div class="w-40 p-2 flex flex-row items-center">{{ display }}</div>
                <div class="w-full">{{ field }}</div>
                {{ if error }}
                <p class="text-gray-500">{{ error }}</p>
                {{ /if }}
            </div>
            {{ /fields }}
    {{ fields.4 }}
    <div class="col-span-2 py-6">
        <label class="">{{ display }}</label>
        <div class="pt-4 w-full">{{ field }}</div>
        {{ if error }}
        <p class="text-gray-500">{{ error }}</p>
        {{ /if }}
    </div>
    {{ /fields.4 }}

</div>

            <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

            <button class="rounded-full px-16 py-2 bg-white text-dark" type="submit">Submit</button>
           {{ /if }}

            {{ /form:contact }}
        </div>
    </div>
</div>

<!-- Partners -->
{{ partial:layouts/panels/partners bg="bg-white" tc="text-dark" }}

