{{ if show_chat }}
{{ partial:layouts/cta/chat}}
{{ /if }}

{{ if show_topleft }}
<img id="hero-tri" class="absolute -top-10 left-[-7.5rem]" src="/assets/imgs/quarter-jagged.svg" alt="">
{{ /if }}

<div class="bg-lime relative h-screen text-dark overflow-hidden">
    <div class="grid grid-cols-2 pt-56 ">
        <div class="z-100 pt-8 px-24">
            <div class="contact-heading tracking-wider z-100 pt-8">{{contact_heading}}</div>
            <div class="block-content z-100 pt-4">{{contact_content}}</div>
        </div>
            <img class="absolute z-10 bottom-[-12rem] left-[11.5rem] " src="/assets/imgs/contact_black.svg" alt="">
            <img class="absolute z-10 top-[10rem] left-[-15rem]" src="/assets/imgs/contact_white.svg" alt="">
        <div class="p-24 px-48">
            {{ form:contact }}


            {{ if success }}
            <div class="bg-green-300 text-white p-2">
                {{ success }}
            </div>
            {{ else }}

            {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}
<div class="grid grid-cols-2">
            {{ fields limit="4" }}
            <div class="p-2">
                <label class="">{{ display }}</label>
                <div class="p-1 w-full">{{ field }}</div>
                {{ if error }}
                <p class="text-gray-500">{{ error }}</p>
                {{ /if }}
            </div>
            {{ /fields }}
    {{ fields.4 }}
    <div class="p-2 col-span-2">
        <label class="">{{ display }}</label>
        <div class="p-1 w-full">{{ field }}</div>
        {{ if error }}
        <p class="text-gray-500">{{ error }}</p>
        {{ /if }}
    </div>
    {{ /fields.4 }}

</div>

            <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

            <button class="rounded-full px-5 py-2 bg-white text-dark" type="submit">Submit</button>
           {{ /if }}

            {{ /form:contact }}
        </div>
    </div>
</div>

<!-- Partners -->
{{ partial:layouts/panels/partners bg="bg-white" tc="text-dark" }}

