{{ if show_chat }}
{{ partial:layouts/cta/chat}}
{{ /if }}

{{ if show_topleft }}
<img id="hero-tri" class="absolute -top-10 left-[-7.5rem]" src="/assets/imgs/quarter-jagged.svg" alt="">
{{ /if }}

<div class="bg-lime relative  text-dark overflow-hidden">
    <div class="grid grid-cols-1 lg:grid-cols-2 pt-12">
        <div class="z-100 pt-4  sm:pt-16 px-6 sm:px-24 xl:px-16 2xl:pt-18 2xl:pl-24 4xl:px-48 4xl:pt-24">
            <div class="contact-heading tracking-wider z-100" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-back" >{{contact_heading}}</div>
            <div class="block-content z-100 pt-8 sm:pl-0 sm:pt-4" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="750" data-aos-easing="ease-in-back">{{contact_content}}</div>
        </div>
        <img class="absolute hidden sm:block sm:w-10/12 md:w-[644px] xl:w-1/2 4xl:w-[965px]" src="/assets/imgs/contactGroup.png" alt="">
<!--       Right hand side of the page -->
        <div class="p-24 px-6  sm:pt-[24rem] md:pt-[25.5rem] lg:pt-8 2xl:w-10/12 4xl:pt-16  4xl:pb-[6.5rem]  5xl:w-10/12 5xl:ml-0 6xl:pb-16" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1500" data-aos-easing="ease-in-back">
            {{ form:contact }}
            {{ if success }}
            <div class="bg-white rounded-lg text-black p-2 text-xl text-center lg:mb-[22rem] xl:mb-[28rem] 2xl:mb-[29rem] 3xl:mb-[30rem] 4xl:mb-[35.9rem]">
                <p>Thank you, your message has been successfully sent.</p>
            </div>
            {{ else }}

            {{ if errors }}
            <div class="bg-red-300 text-white p-4">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}
<div class="md:grid grid-cols-1 md:grid-cols-2  flex flex-col lg:pt-48">
            {{ fields limit="4" }}
            <div class="flex flex-row items-center space-y-6  md:even:pl-5 pb-5 ">
                <div class="w-40 flex flex-row items-center">{{ display }} {{ if validate }} <span class="pl-1">*</span> {{ /if }} </div>
                <div class="w-full">{{ field }}</div>
                {{ if error }}
                <p class="text-gray-500">{{ error }}</p>
                {{ /if }}
            </div>
            {{ /fields }}
    {{ fields.4 }}
    <div class="col-span-2 py-6">
        <label class="">{{ display }}</label>
        <div class="pt-4 w-full">{{ field }}</div>
        {{ if error }}
        <p class="text-gray-500">{{ error }}</p>
        {{ /if }}
    </div>
    {{ /fields.4 }}

</div>

            <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

            <div class="flex flex-col space-y-4  md:flex-row md:space-y-0 justify-between items-center">
                <div class="">
                    {{ captcha }}
                    {{ if error:captcha }}
                    <div class="text-sm text-red-500">{{ error:captcha }}</div>
                    {{ /if }}
                </div>


                <button class="rounded-full px-16 py-2 bg-white text-dark h-12" type="submit">Submit</button>

            </div>

           {{ /if }}

            {{ /form:contact }}
        </div>
    </div>
</div>

<!-- Partners -->
{{ partial:layouts/panels/partners bg="bg-white" tc="text-dark" }}

